app-sidemenu-content {
    mat-selection-list {
        padding: 0 !important;
        mat-list-option {
            .mat-list-text {
                color: white;
            }
            .mdc-list-item__end {
                display: none !important;
            }
        }
    }
    .ellipsis {
        overflow: auto;
        text-overflow: ellipsis;
    }
}
