<div>
    <div class="m-10" *ngIf="userData | async as user">
        <mat-card (click)="navigateToProfile()" style="cursor:pointer">
            <mat-card-content>
                <div *ngIf="user.photoURL" fxLayout="row" fxLayoutAlign="center center">
                    <img src="{{user.photoURL}}" style="border-radius: 50px" width="50" height="50">
                </div>
                <br>
                <div fxLayout="row"
                     fxLayoutAlign="center center">
                    <button mat-raised-button color="primary">Profil Beállítások</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-selection-list #shoes [multiple]="false" fxLayout="column">
        <mat-list-option *ngFor="let item of menuItems"
                         [selected]="(url | async)?.includes(item.navigateTo)"
                         [routerLink]="['/'+item.navigateTo]"
                         [value]="item.label">
            {{item.label}}
        </mat-list-option>
    </mat-selection-list>
    <div class="m-10">
        <button fxLayout="row"
                fxFlex
                (click)="authService.logout()"
                mat-raised-button>Kijelentkezés</button>
    </div>
</div>
