<div class="container">
  <mat-card>
    <mat-card-content>
      <h2>{{'USER_SETTINGS.WELCOME' | translate: { displayName: (userData | async)?.displayName } }}</h2>
      <br>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <mat-card *ngIf="userData | async as user" class="card-outlined">
            <p class="card-outlined__title">{{ 'USER_SETTINGS.USER_DATA' | translate }}</p>
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-2">
                <resolve-request #resolveReq
                                 [catchUrl]="'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png'"
                                 [url]="user.photoURL">
                  <img class="w-100" style="border-radius: 50px; max-width: 200px" [src]="resolveReq.value">
                </resolve-request>
              </div>
              <div class="col-sm-12 col-md-8 col-lg-10">
                <p style="font-weight:bold">{{'USER_SETTINGS.COMMON_DATA' | translate}}</p>
                <hr>
                <div>
                  <mat-icon color="primary">person</mat-icon>
                  <p class="m-0">{{user.displayName}}</p>
                </div>
                <div>
                  <mat-icon color="primary">email</mat-icon>
                  <p class="m-0">{{user.email}}</p>
                </div>
                <p style="font-weight: bold">{{'USER_SETTINGS.METADATA.LABEL' | translate}}</p>
                <hr>
                <div>
                  <b class="m-0" [style.min-width]="'150px'">{{'USER_SETTINGS.METADATA.USER_IDENTIFIER' | translate}}:</b>
                  <p class="m-0 of-ellipsis" [matTooltip]="user.uid + ''">{{user.uid}}</p>
                </div>
                <div class="mt-2">
                  <b class="m-0">{{'USER_SETTINGS.METADATA.CREATION_DATE' | translate}}:</b>
                  <p class="m-0 ml-5">{{user.metadata.createdAt | date: 'YYYY.MM.dd HH:mm:ss'}}</p>
                </div>
                <div class="mt-2">
                  <b class="m-0">{{'USER_SETTINGS.METADATA.LAST_LOGIN' | translate}}:</b>
                  <p class="m-0">{{user.metadata.lastLoginAt | date: 'YYYY.MM.dd HH:mm:ss'}}</p>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-sm-12 col-md-6">
          <mat-card class="card-outlined">
            <p class="card-outlined__title">{{ 'USER_SETTINGS.PAGE_DATA.TITLE' | translate }}</p>
            <div>
              <div>
                <p style="font-weight:bold">{{'USER_SETTINGS.PAGE_DATA.THEME' | translate}}</p>
                <hr>
              </div>
              <mat-radio-group [(ngModel)]="personalSettings.theme"
                               (ngModelChange)="changeSettings({key: 'theme', value: $event})">
                <mat-radio-button color="accent" value="">
                  Kék
                </mat-radio-button>
                <mat-radio-button class="ml-5" color="accent" value="brownish-theme">
                  Barna
                </mat-radio-button>
              </mat-radio-group>
              <div>
                <mat-checkbox [ngModel]="personalSettings.useStaticBackground"
                              (ngModelChange)="changeSettings({key: 'useStaticBackground', value: $event})"
                              color="primary"
                              name="useStaticbackground">
                  {{'USER_SETTINGS.PAGE_DATA.USE_BACKGROUND_IMAGE' | translate}}
                </mat-checkbox>
                <input [(colorPicker)]="personalSettings.backgroundColor"
                       [style.background]="personalSettings.backgroundColor"
                       (colorPickerChange)="changeSettings({key: 'backgroundColor', value: $event})"
                       readonly="true"/>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
