@import './src/theme.scss';

.login {
    height: 100%;
    .login-card {
        max-width: 500px;
        mat-card-content {
            margin-top: 10px;
        }
    }
    h3, span {
        @extend .primary-color;
    }
    .login-button {
        white-space: pre-wrap;
    }
}
