@import './src/theme.scss';

.login {
    height:100%;
    mat-card {
        max-width: 500px;
        mat-card-content {
            margin-top: 10px;
        }
    }
    h3, span {
        color: $app-primary-color;
    }
}
