<div class="login" fxLayout="row">
    <div fxFlex="60" fxFlexOffset="20" fxLayoutAlign="center center">
        <mat-card fxFlex>
            <mat-card-header>
                <h3 translate="LOGIN.TITLE"></h3>
            </mat-card-header>
            <mat-card-content>
                <form #loginForm="ngForm" appCheckForm>
                    <div class="open-panel" fxLayout="column" fxFlex="90" fxFlexOffset="5">
                        <div fxLayout="column" class="mb-15">
                            <basic-input name="username"
                                         [(ngModel)]="user.username"
                                         [required]="true"
                                         [translateParams]="{field: 'LOGIN.USERNAME.LABEL'}"
                                         label="LOGIN.USERNAME.LABEL"
                                         placeholder="LOGIN.USERNAME.PLACEHOLDER">
                            </basic-input>
                            <basic-input name="password"
                                         [(ngModel)]="user.password"
                                         [required]="true"
                                         type="password"
                                         [translateParams]="{field: 'LOGIN.PASSWORD.LABEL'}"
                                         label="LOGIN.PASSWORD.LABEL"
                                         placeholder="LOGIN.PASSWORD.PLACEHOLDER">
                            </basic-input>
                        </div>
                        <div class="buttons" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button color="primary"
                                    translate="LOGIN.LOGIN_BUTTON"
                                    (click)="login()"
                                    [disabled]="loginForm.invalid">
                            </button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
