<div class="login" fxLayout="row">
    <div fxFlex="60" fxFlexOffset="20" fxLayoutAlign="center center">
        <mat-card fxFlex>
            <mat-card-header>
                <h3>Bejelentkezés</h3>
            </mat-card-header>
            <mat-card-content>
                <form #loginForm="ngForm" appCheckForm>
                    <div class="open-panel" fxLayout="column">
                        <div fxLayout="column">
                            <mat-form-field appearance="fill">
                                <mat-label>Felhasználónév</mat-label>
                                <input matInput
                                       #username
                                       name="userName"
                                       placeholder="Ex. Pizza"
                                       [required]="true"
                                       [(ngModel)]="user.userName">
                                <mat-icon matPrefix color="primary">person</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Jelszó</mat-label>
                                <input matInput
                                       name="password"
                                       placeholder="Ex. Pizza"
                                       [required]="true"
                                       [(ngModel)]="user.password">
                                <mat-icon matPrefix color="primary">password</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="buttons" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Bejelentkezés</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
