<div class="app-my-vehicles container">
    <ng-container *ngIf="vehicles | withLoading | async as vehiclesObs">
        <div class="row gy-4">
            <app-vehicle-tile *ngFor="let vehicle of vehiclesObs.value; trackBy: trackByIdentity"
                              [vehicle]="vehicle"
                              (click)="setAsMainVehicle($event, vehicle)"
                              (onDelete)="delete($event)"
                              (onUpdate)="update($event)"
                              (detail)="showDetail($event)"
                              class="col-auto">
            </app-vehicle-tile>
            <button *ngIf="!vehiclesObs.loading && vehiclesObs.value?.length"
                    class="add-icon" mat-icon-button color="accent" (click)="create()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>
        <div *ngIf="!vehiclesObs.loading && !vehiclesObs.value?.length">
            <mat-card>
                <mat-card-content>
                    {{ 'MEANS_OF_TRANSPORT.MY_VEHICLES.NO_VEHICLE' | translate }}
                </mat-card-content>
            </mat-card>
            <button class="add-icon" mat-icon-button color="accent" (click)="create()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>
    </ng-container>
</div>
