<form #addForm="ngForm" class="book-milage" fxFlex="100" fxLayout="column">
    <app-transport-type [vehicle]="model"></app-transport-type>
    <div *ngIf="editMode" fxLayout="row" fxFlex="1 0 50px" fxLayoutAlign="start end" style="padding-bottom: 10px">
        <div fxFlex="50">
            <button mat-raised-button [mat-dialog-close]="model"
                    [disabled]="addForm.invalid"
                    [color]="'primary'">
                {{ 'COMMON.BUTTON.ADD' | translate }}
            </button>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center">
            <button mat-button mat-dialog-close [color]="'primary'">
                {{ 'COMMON.BUTTON.CANCEL' | translate }}
            </button>
        </div>
    </div>
</form>
