<mat-card class="timeline__card">
  <mat-card-content>
    <ng-content select="[additionalHeader]"></ng-content>
    <div #customHeader>
      <ng-content select="[header]"></ng-content>
    </div>
    <div *ngIf="!customHeader.children?.length" class="timeline__build-in-header mt-20 mb-20">
      <div class="timeline__build-in-header__first-column">
        <button mat-raised-button type="button" color="primary" (click)="onMove(directionRef.LEFT)">
          <mat-icon>arrow_backward</mat-icon>
        </button>
      </div>
      <div class="timeline__build-in-header__second-column">
        <button mat-raised-button type="button" color="primary" (click)="onMove()">
          <mat-icon class="mr-10">my_location</mat-icon>
          <span
            class="current-date">{{date | date: 'yyyy'}} {{'CALENDAR_TIMELINE.MONTHS.' + months[date.getMonth()].toUpperCase() | translate}}</span>
        </button>
      </div>
      <div class="timeline__build-in-header__third-column">
        <button mat-raised-button type="button" color="primary" (click)="onMove(directionRef.RIGHT)">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
    <div class="timeline__table-container" #tableContainer>
      <table>
        <thead>
          <tr>
            <th *ngFor="let day of dayColumns">
              <span *ngIf="tableContainer.clientWidth > 528; else short">{{'CALENDAR_TIMELINE.DAYS.' + day.toUpperCase() + '.FULL' | translate}}</span>
              <ng-template #short>
                <span>{{'CALENDAR_TIMELINE.DAYS.' + day.toUpperCase() + '.SHORT' | translate}}</span>
              </ng-template>
            </th>
          </tr>
        </thead>
        <tbody>
        <tr class="table-row" *ngFor="let row of calendarMatrix">
          <td *ngFor="let calendarItem of row">
            <timeline-day-item [date]="calendarItem.date"
                               [disabled]="!calendarItem.inCurrentMonth"
                               [currentDay]="calendarItem.isCurrentDay"
                               [recordings]="getRecording(calendarItem.date)">
            </timeline-day-item>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>
