@import './src/theme';
app-vehicle-tile {
    cursor: pointer;

    img {
        height: 100px;
        border-radius: 50%;
        border: 5px solid $app-primary-color;
    }

    .mat-button {
        color: $app-primary-color;
    }

    .main {
        background: $app-primary-color;
        img {
            border: 5px solid $app-accent-color;
        }
        mat-card-subtitle {
            color: white;
        }
        color: white;
        mat-card {
            background: $app-accent-color;
        }
        .mat-button {
            color: $app-accent-color;
        }
        .card-outlined__title {
            background: $app-primary-color;
            color: white;
        }
    }
}
