<mat-card [class.main]="vehicle.ownerData?.isMain">
    <mat-card-header>
        <mat-card-title>
            {{ vehicle.brand }} {{vehicle.type}}
        </mat-card-title>
        <mat-card-subtitle>{{ vehicle.engineVolume }} ccm</mat-card-subtitle>
    </mat-card-header>
    <resolve-request #resolveReq
                     style="height:100px"
                     [url]="vehicle.ownerData?.imageUrl?.trim() || 'assets/images/nocar.jpeg'">
        <div class="text-center">
            <img [src]="resolveReq.value" style="height: 100px"/>
        </div>
    </resolve-request>
    <mat-card-content>
        <div *ngIf="false" class="mt-15">
            <mat-card class="card-outlined">
                <p class="card-outlined__title">
                    {{ 'MEANS_OF_TRANSPORT.VEHICLE_TILE.DATAS' | translate }}
                </p>
            </mat-card>
        </div>
    </mat-card-content>
    <mat-card-actions align="center">
        <div>
            <button mat-icon-button (click)="prevent($event);detail.emit(vehicle)"><mat-icon>search</mat-icon></button>
            <button mat-icon-button (click)="prevent($event);onUpdate.emit(vehicle)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="prevent($event);"><mat-icon>description</mat-icon></button>
            <button mat-icon-button (confirmClick)="onDelete.emit(vehicle)"><mat-icon>delete</mat-icon></button>
        </div>
    </mat-card-actions>
</mat-card>
