<mat-card fxFlex.lg="calc(33% - 16px)"
          fxFlex.lt-lg="calc(50% - 16px)"
          fxFlex.xs="calc(100% - 16px)" [class.main]="vehicle.ownerData?.isMain">
    <mat-card-header>
        <mat-card-title>
            <div fxLayout="row" fxLayoutGap="15px">
                <div fxLayoutAlign="start center">{{ vehicle.brand }} {{vehicle.type}}</div>
            </div>

        </mat-card-title>
        <mat-card-subtitle>{{ vehicle.engineVolume }} ccm</mat-card-subtitle>
    </mat-card-header>
    <div fxLayout="row" fxLayoutAlign="center center">
        <resolve-request #resolveReq
                         style="height:100px"
                         [url]="vehicle.ownerData?.imageUrl?.trim() || 'assets/images/nocar.jpeg'">
            <div fxLayout="row" fxLayoutAlign="center center">
                <img [src]="resolveReq.value" style="height: 100px"/>
            </div>
        </resolve-request>
        <!--
        <img
             style="height:100px"
             [src]="'https://kep.cdn.index.hu/1/0/3975/39757/397573/39757307_3033467_cff894add5cbd8a2ad2248bcd9cec88b_wm.jpg'"
             class="card-image">
        -->
    </div>
    <mat-card-content>
        <div *ngIf="false" fxLayout="row" class="mt-15">
            <mat-card fxFlex="100" class="card-outlined">
                <p class="card-outlined__title">
                    {{ 'MEANS_OF_TRANSPORT.VEHICLE_TILE.DATAS' | translate }}
                </p>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
    <mat-card-actions align="center">
        <div>
            <button mat-icon-button (click)="prevent($event);detail.emit(vehicle)"><mat-icon>search</mat-icon></button>
            <button mat-icon-button (click)="prevent($event);onUpdate.emit(vehicle)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="prevent($event);"><mat-icon>description</mat-icon></button>
            <button mat-icon-button (confirmClick)="onDelete.emit(vehicle)"><mat-icon>delete</mat-icon></button>
        </div>
    </mat-card-actions>
</mat-card>
