@import './src/theme';
app-vehicle-tile {
    cursor: pointer;
    min-width:250px;

    img {
        height: 100px;
        border-radius: 50%;
        border: 5px solid;
        @extend .primary-border-color;
    }

    .mat-button, .mat-icon-button {
        @extend .primary-color;
    }

    .main {
        @extend .primary-background;
        img {
            border: 5px solid;
            @extend .accent-border-color;
        }
        mat-card-subtitle {
            color: white;
        }
        color: white;
        mat-card {
            @extend .accent-background;
        }
        .mat-button, .mat-icon-button {
            @extend .accent-color;
        }
        .card-outlined__title {
            @extend .primary-background;
            color: white;
        }
    }
}
