<ng-sidebar-container [style.background-color]="backgroundColor"
                      [class.use-background-image]="personalSettingsHolder?.useStaticBackground">
    <!-- A sidebar -->
    <ng-sidebar mode="over"
                *showOnAuthenticated="changeAnimatedState.bind(this)"
                [closeOnClickOutside]="true"
                [animate]="animated"
                [(opened)]="_opened">
        <app-sidemenu-content [menuItems]="menu"></app-sidemenu-content>
    </ng-sidebar>

    <ng-container ng-sidebar-content [style.height]="(isAuthenticated | async) ? '100%' : '97%'">
        <header>
            <app-header *showOnAuthenticated>
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <button mat-icon-button (click)="_toggleSidebar()">
                                <mat-icon [style.color]="'white'">menu</mat-icon>
                            </button>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-10">
                                    <h3 class="app-title">Expense Manager - <i>The design is awful, I know...</i></h3>
                                </div>
                                <div class="col-2">
                                    <img src="assets/images/under_constr_2.png"
                                         style="height: 50px" class="w-100"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-header>
        </header>
        <main>
            <router-outlet></router-outlet>
        </main>
        <footer></footer>
    </ng-container>
</ng-sidebar-container>
