<div>
    <div *ngIf="travelDiarySource | withLoading | async as obs">
        <div *ngIf="obs.loading"
             fxLayout="row"
             fxLayoutAlign="center center" class="m-20">
            <mat-progress-spinner color="primary"
                                  mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div class="table-wrapper" *ngIf="!obs.loading">
            <table mat-table [dataSource]="obs.value" >
                <!-- Create Date Column -->
                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef>Dátum</th>
                    <td mat-cell *matCellDef="let element">{{element.date | date: 'YYYY.MM.dd' }}</td>
                </ng-container>

                <!-- Distance Column -->
                <ng-container matColumnDef="distance">
                    <th mat-header-cell *matHeaderCellDef>Megtett táv (km)</th>
                    <td mat-cell *matCellDef="let element">{{(element.distance | number: '1.0-0') + ' Km'}}</td>
                </ng-container>

                <!-- RouteFrom Column -->
                <ng-container matColumnDef="routeFrom">
                    <th mat-header-cell *matHeaderCellDef>Indulás innen</th>
                    <td mat-cell *matCellDef="let element">{{element.route?.from}}</td>
                </ng-container>

                <!-- RouteTo Column -->
                <ng-container matColumnDef="routeTo">
                    <th mat-header-cell *matHeaderCellDef>Érkezés ide</th>
                    <td mat-cell *matCellDef="let element">{{element.route?.to}}</td>
                </ng-container>

                <!-- Retour Column -->
                <ng-container matColumnDef="retour">
                    <th mat-header-cell *matHeaderCellDef>Retour</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.route?.retour" fxLayout="row grid">
                            <mat-icon fxFlex="100" color="primary">redo</mat-icon>
                            <mat-icon color="primary" style="transform: rotate(180deg) scaleX(-1);margin-top:-10px">undo</mat-icon>
                        </div>
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="ACTION" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <app-actions [actions]="['ALL']"
                                     (open)="openItem(element, 'detail')"
                                     (edit)="openItem(element, 'edit')"
                                     (copy)="openItem(element, 'copy')"
                                     (delete)="bookingService.removeTravelDiary(element)">
                        </app-actions>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="!obs.value?.length" class="list-not-found-wrapper">
                <p class="not-found">{{'COMMON.TABLE.NO_RESULT' | translate}}</p>
            </div>
        </div>
        <div *ngIf="!obs.loading && obs.value?.length && false">
            <div fxLayout="row wrap">
                <app-line-chart [fxFlex]="'100'"
                                [dataSetList]="[
                        {label: 'Megtett táv', numbers: (distance | async)},
                ]"></app-line-chart>
            </div>
        </div>
    </div>
</div>
