<div fxLayout="column"
     fxLayoutGap="3px"
     fxFlex="100"
     class="day-item-main" [class.disabled]="disabled">
    <div fxLayout="row" fxLayoutAlign="end center">
        <p class="m-0" style="font-size: large; color: grey">{{date | date: 'd'}}</p>
    </div>
    <div *ngFor="let record of recordings"
         [style.background]="record.color.background"
         [style.color]="record.color.foreground"
         [matTooltip]="record.props[0].value"
         fxLayout="row-wrap"
         class="item-row">
        <span *ngFor="let prop of record.props; let last = last">
            <label>{{prop.value}}</label>
            <label *ngIf="!last" class="separator">{{record.separator}}</label>
        </span>
    </div>
</div>
