<form #addForm="ngForm" class="book-milage" fxLayout="column">
    <div fxLayout="row">
        <mat-card fxFlex="(100/2)-5" class="card-outlined">
            <p class="card-outlined__title">Utazási napló</p>
            <mat-card-content fxLayout="row wrap" fxLayoutGap="15px grid">
                <mat-form-field fxFlex="auto" appearance="outline">
                    <mat-label>Válasszon egy dátumot</mat-label>
                    <input matInput
                           name="date"
                           [(ngModel)]="model.date"
                           [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <number-input name="distance"
                              fxFlex="auto"
                              [(ngModel)]="model.distance"
                              [required]="true"
                              [unmask]="true"
                              suffix="(Km)"
                              label="Megtett táv"
                              placeholder="LOGIN.USERNAME.PLACEHOLDER">
                </number-input>
                <basic-input name="route"
                             fxFlex="auto"
                             [(ngModel)]="model.route"
                             [required]="true"
                             label="Útvonal"
                             placeholder="LOGIN.USERNAME.PLACEHOLDER">
                </basic-input>
                <number-input name="amountSpent"
                              fxFlex="auto"
                              [(ngModel)]="model.amountSpent"
                              suffix="(HUF)"
                              [unmask]="true"
                              [required]="true"
                              (ngModelChange)="calculateFullSpent()"
                              label="Elköltött összeg"
                              placeholder="LOGIN.USERNAME.PLACEHOLDER">
                </number-input>
                <number-input name="amountPaid"
                              fxFlex="auto"
                              suffix="(HUF)"
                              [unmask]="true"
                              [(ngModel)]="model.amountPaid"
                              (ngModelChange)="calculateFullSpent()"
                              [required]="true"
                              label="Térített összeg"
                              placeholder="LOGIN.USERNAME.PLACEHOLDER">
                </number-input>
                <number-input name="fullSpent"
                              fxFlex="auto"
                              suffix="(HUF)"
                              [ngModel]="model.fullSpent"
                              floatLabel="always"
                              disabled="true"
                              label="Különbözet">
                </number-input>
            </mat-card-content>
        </mat-card>
        <div fxFlex="5" fxLayoutAlign="center start">
            <button mat-icon-button [mat-dialog-close]="model"
                    [disabled]="addForm.invalid"
                    [color]="'primary'">
                <mat-icon>save</mat-icon>
            </button>
        </div>
        <mat-card fxFlex="(100/2)-5" class="card-outlined">
            <p class="card-outlined__title">Útvonal adatok</p>

        </mat-card>
    </div>
    <br>
    <div fxLayout="row">
        <app-add-transport-type fxFlex [vehicle]="model.vehicle"></app-add-transport-type>
    </div>
    <br>
    <div fxLayout="row" fxFlex="1 0 50px" fxLayoutAlign="start end" style="padding-bottom: 10px">
        <div fxFlex="50">
            <button mat-raised-button [mat-dialog-close]="model"
                    [disabled]="addForm.invalid"
                    [color]="'primary'">Hozzáadás
            </button>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center">
            <button mat-button mat-dialog-close [color]="'primary'">Mégse</button>
        </div>
    </div>
</form>
