<div>
    <div fxHide fxShow.lt-sm>
        <button mat-raised-button color="primary" (click)="download()">
            {{ 'MEANS_OF_TRANSPORT.TRAFFIC_LICENSE.DOWNLOAD_LICENSE' | translate }}
        </button>
        <div id="download">
            <img #canvas style="display: none">
            <a #downloadLink></a>
        </div>
    </div>
    <div #screen fxLayout="column" class="license-container"
         [style.transform]="'scale('+scale+')'"
         [style.lt-sm]="'display: none'">
        <div [style.height]="'120px'"></div>
        <div fxLayout="row" class="small-input-row">
            <!-- A -->
            <basic-input name="username"
                         class="small-input ml-40"
                         [disabled]="!edit"
                         [appearance]="appearance">
            </basic-input>
        </div>
        <div fxLayout="row" class="small-input-row">
            <!-- B -->
            <basic-input name="since"
                         [(ngModel)]="vehicle.ownerData.since"
                         class="small-input ml-40"
                         [disabled]="!edit"
                         [appearance]="appearance">
            </basic-input>
        </div>
        <div fxLayout="row" class="small-input-row">
            <!-- D.1 -->
            <basic-input name="brand"
                         [(ngModel)]="vehicle.brand"
                         class="small-input ml-55"
                         [disabled]="!edit"
                         [appearance]="appearance">
            </basic-input>
        </div>
        <div fxLayout="row" class="small-input-row">
            <!-- D.2 -->
            <basic-input name="type"
                         [(ngModel)]="vehicle.type"
                         class="small-input ml-55"
                         [disabled]="!edit"
                         [appearance]="appearance">
            </basic-input>
        </div>
        <div fxLayout="row" class="small-input-row">
            <!-- D.3 -->
            <basic-input name="unknown"
                         class="small-input ml-55"
                         [disabled]="!edit"
                         [appearance]="appearance">
            </basic-input>
            <!-- E -->
            <basic-input name="frameNumber"
                         [(ngModel)]="vehicle.frameNumber"
                         style="width: 130px"
                         class="small-input ml-55"
                         [disabled]="!edit"
                         [appearance]="appearance">
            </basic-input>
        </div>
        <div fxLayout="row" class="small-input-row">
            <!-- P.1 -->
            <basic-input name="engineVolume"
                         [(ngModel)]="vehicle.engineVolume"
                         [style.width]="'70px'"
                         class="small-input ml-55"
                         [disabled]="!edit"
                         [appearance]="appearance">
            </basic-input>
            <!-- P.2 -->
            <basic-input name="kilowatt"
                         [(ngModel)]="vehicle.kilowatt"
                         [style.width]="'70px'"
                         class="small-input ml-55"
                         [disabled]="!edit"
                         [appearance]="appearance">
            </basic-input>
            <!-- P.3 -->
            <basic-input name="engineType"
                         [(ngModel)]="vehicle.engineType"
                         [style.width]="'120px'"
                         class="small-input ml-55"
                         [disabled]="!edit"
                         [appearance]="appearance">
            </basic-input>
        </div>
        <div fxLayout="row" class="small-input-row">
            <!-- P.5 -->
            <basic-input name="motorCode"
                         [(ngModel)]="vehicle.motorCode"
                         class="small-input ml-55"
                         [disabled]="!edit"
                         [appearance]="appearance">
            </basic-input>
            <!-- J -->
            <basic-input name="username"
                         style="width: 130px"
                         class="small-input ml-55"
                         [disabled]="!edit"
                         [appearance]="appearance">
            </basic-input>
        </div>
    </div>
</div>
