@import 'src/theme';

app-traffic-license {
    .download-info {
        @extend .primary-color;
        @extend .accent-background;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        mat-icon {
            flex: 0 0 auto;
        }
    }
    .license-container {
        z-index: -99999;
        width: fit-content;
        height: fit-content;
        border-radius:10px;
        .position-absolute {
            top: 200px;
        }
    }
    .small-input-row {
        height:35px;
        margin-left: 90px;
        margin-bottom: 7px;
        align-items: center;
        display: flex;
    }
    .small-input {
        .mat-form-field-wrapper {
            padding-bottom: 0px;
        }
        .mat-form-field-infix {
            border: 0;
            padding: 0;
        }
        .mat-form-field-label-wrapper {
            padding-top: 0;
        }
        .mat-form-field-underline {
            top: 18px;
        }
    }
}
