<div fxFlex="100" class="table-wrapper">
    <table mat-table [dataSource]="fuelCostDiarySource">
        <!-- Creation date Column -->
        <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef>Dátum</th>
            <td mat-cell *matCellDef="let element">{{element.date | date}}</td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Mennyiség</th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} L</td>
        </ng-container>

        <!-- Amount spent Column -->
        <ng-container matColumnDef="amountSpent">
            <th mat-header-cell *matHeaderCellDef>Teljes elköltött összeg</th>
            <td mat-cell *matCellDef="let element"> {{(element.amountSpent | currency: ' ':'symbol':'1.0-0') + ' HUF'}} </td>
        </ng-container>

        <!-- Amount Paid Column -->
        <ng-container matColumnDef="amountPaid">
            <th mat-header-cell *matHeaderCellDef>Térített összeg</th>
            <td mat-cell *matCellDef="let element"> {{(element.amountPaid | currency: ' ':'symbol':'1.0-0') + ' HUF'}} </td>
        </ng-container>

        <!-- Full Spent Column -->
        <ng-container matColumnDef="fullSpent">
            <th mat-header-cell *matHeaderCellDef>Teljes kiadás levonásokkal</th>
            <td mat-cell *matCellDef="let element"> {{(element.fullSpent | currency: ' ':'symbol':'1.0-0') + ' HUF'}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="ACTION" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="!(fuelCostDiarySource | async)?.length" class="list-not-found-wrapper">
        <p class="not-found">{{'COMMON.TABLE.NO_RESULT' | translate}}</p>
    </div>
</div>
