<form #addForm="ngForm" class="book-milage" fxLayout="column">
    <div fxLayout="row">
        <mat-card fxFlex="100" class="card-outlined">
            <p class="card-outlined__title">Utazási napló</p>
            <mat-card-content fxLayout="row wrap" fxLayoutGap="15px grid">
                <mat-form-field fxFlex="auto" appearance="outline">
                    <mat-label>Válasszon egy dátumot</mat-label>
                    <input matInput
                           name="date"
                           [disabled]="!editMode"
                           [(ngModel)]="model.date"
                           [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <number-input name="distance"
                              fxFlex="auto"
                              [(ngModel)]="model.distance"
                              [required]="true"
                              [disabled]="!editMode"
                              [unmask]="true"
                              suffix="(Km)"
                              label="Megtett táv"
                              placeholder="LOGIN.USERNAME.PLACEHOLDER">
                </number-input>
                <basic-input name="route"
                             fxFlex="auto"
                             [(ngModel)]="model.route.from"
                             [disabled]="!editMode"
                             [required]="true"
                             label="Innen"
                             placeholder="LOGIN.USERNAME.PLACEHOLDER">
                </basic-input>
                <basic-input name="amountSpent"
                              fxFlex="auto"
                              [(ngModel)]="model.route.to"
                              [disabled]="!editMode"
                              [required]="true"
                              label="Ide"
                              placeholder="LOGIN.USERNAME.PLACEHOLDER">
                </basic-input>
                <div fxFlex="auto" class="mat-form-field">
                    <mat-checkbox [(ngModel)]="model.route.retour"
                                  [disabled]="!editMode"
                                  color="primary"
                                  name="retour">
                        Retour
                    </mat-checkbox>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!--
    <br>
    <google-map fxLayout="row" width="100%" height="300px"></google-map>
    -->
    <br>
    <div *ngIf="editMode" fxLayout="row" fxFlex="1 0 50px" fxLayoutAlign="start end" style="padding-bottom: 10px">
        <div fxFlex="50">
            <button mat-raised-button [mat-dialog-close]="model"
                    [disabled]="addForm.invalid"
                    [color]="'primary'">Hozzáadás
            </button>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center">
            <button mat-button mat-dialog-close [color]="'primary'">Mégse</button>
        </div>
    </div>
</form>
