@import 'theme';
@import 'mixin.scss';

html,
body {
    min-height: 100%;
    max-height: unset;
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    .mat-tab-body-content {
        overflow: hidden;
    }
    .table-wrapper {
        overflow: auto;
    }
    .mat-table {
        width: 100%;
        overflow-x: auto;
        .mat-row.mat-row,
        .mat-header-row.mat-header-row {
            width: fit-content;
            min-width: 100%;
        }

        .mat-sort-header-position-before {
            justify-content: flex-end;
        }

        .mat-cell,
        .mat-header-cell {
            @include column-width(24px);
        }

        .mat-cell:not(.mat-column-ACTION):not(.mat-column-SELECT),
        .mat-header-cell:not(.mat-column-ACTION):not(.mat-column-SELECT) {
            @include column-width(200px);
        }
    }
    h3 {
        @extend .accent-color;
    }
    .mat-tab-header-pagination {
        z-index: 0;
    }
    .cdk-overlay-pane {
        overflow: scroll;
    }
}

.card-outlined {
    border: 1px solid;
    @extend .primary-border-color;
    @extend .mat-elevation-z0;
    &__title {
        width: auto;
        position: absolute;
        margin: 0;
        top: -10px;
        background: white;
        padding: 0 5px;
    }
}

.list-not-found-wrapper {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    p.not-found {
        font-size: 14px;
    }
}

$pixels: (0: 0px, 5: 5px, 10: 10px, 15: 15px, 20: 20px, 25: 25px, 30: 30px, 35:35px, 40:40px, 45:45px, 50:50px, 55: 55px );

@each $pixel, $px in $pixels {
    .mt-#{$pixel} {
        margin-top: $px !important;
    }
    .mb-#{$pixel} {
        margin-bottom: $px !important;;
    }
    .ml-#{$pixel} {
        margin-left: $px !important;;
    }
    .mr-#{$pixel} {
        margin-right: $px !important;;
    }
    .m-#{$pixel} {
        margin: $px !important;;
    }
}

.of-ellipsis {
    overflow: auto;
    text-overflow: ellipsis;
}

.theme-tooltip {
    @extend .primary-background;
    @extend .accent-color;
    white-space: pre-line;
    font-size: 20px !important;
}
