@use '~@angular/material' as mat;
@use 'sass:map';
@import '~@angular/material/theming';

@include mat.core();
$app-white: mat.define-palette(mat.$blue-grey-palette, 50);
$app-primary: mat.define-palette(mat.$blue-grey-palette, 500);
$app-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

$app-font-color: mat-color($app-white);
$app-primary-color: mat-color($app-primary);
$app-primary-transparent-color: mat-color($app-primary, 0.5);

$app-theme: mat.define-light-theme((
    color: (
        primary: $app-primary,
        accent: $app-accent,
    )
));

$color-config:    mat.get-color-config($app-theme);
$primary-palette: map.get($color-config, 'primary');

@include mat.all-component-themes($app-theme);

ng-sidebar {
    aside {
        width: 200px;
        padding-top: 50px;
        background: $app-primary-transparent-color;
        color: $app-font-color;
    }
}
ng-sidebar-container {
    background: url('assets/images/background.jpg') no-repeat center;
    background-size: cover;
}
