<div class="vehicle-detail container">
    <resolve-request [observable]="this.vehicle" *ngIf="vehicle | async as veh">
        <h2 translate="MEANS_OF_TRANSPORT.TRAFFIC_LICENSE.TITLE_PART" [translateParams]="{ name: veh.brand + ' ' + veh.type }"></h2>
        <div class="row">
            <app-traffic-license class="col-sm-12" [vehicle]="veh" (click)="onLicenseClick()"></app-traffic-license>
            <div class="col-sm-12">
                <h3>Jármű adatok</h3>
                <app-transport-type [vehicle]="veh" [showContainer]="false"></app-transport-type>
            </div>
            <div class="col-sm-12 mt-4">
                <mat-expansion-panel #exp>
                    <mat-expansion-panel-header>
                        <div class="d-grid" style="line-height: 25px">
                                <span class="mat-panel-title">
                                    {{ 'MEANS_OF_TRANSPORT.VEHICLE_DETAIL.SERVICE_REPORT' | translate }}
                                </span>
                            <span class="mat-panel-description">
                                        {{ 'MEANS_OF_TRANSPORT.VEHICLE_DETAIL.AMOUNT_SPENT_WITH_VALUE' | translate: { value: ((sumAmount | async) | currency: ' ':'symbol':'1.0-0') + ' HUF' } }}
                                </span>
                            <button mat-raised-button type="button" color="primary"
                                    (click)="$event.stopPropagation();addServiceReport()">
                                {{ 'COMMON.BUTTON.ADD' | translate }}
                            </button>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="custom-tile col-lg-4 col-md-6 col-sm-12" *ngFor="let report of serviceReports | async">
                            <mat-card>
                                <mat-card-content class="d-grid">
                                    <span>{{report.shortDescription}}</span>
                                    <span>{{report.date | date: 'YYYY.MM.dd'}}</span>
                                    <span class="mt-5">{{(report.amount | currency: ' ':'symbol':'1.0-0') + ' HUF'}}</span>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <div *ngIf="!(serviceReports | async)?.length">
                        <span translate="MEANS_OF_TRANSPORT.VEHICLE_DETAIL.MISSING_REPORTS"></span>
                    </div>
                </mat-expansion-panel>
            </div>
        </div>
    </resolve-request>
</div>
