@import './src/theme.scss';

app-vehicle-detail {
    h2 {
        @extend .accent-color;
    }
    .mat-expansion-panel-header {
        height: auto;
        padding: 15px;
        &:not(.mat-expanded) {
            .mat-panel-title,
            .mat-panel-description,
            mat-panel-title,
            mat-panel-description {
                @extend .accent-color;
            }
            @extend .primary-background;
        }
        .mat-panel-title,
        .mat-panel-description,
        mat-panel-title,
        mat-panel-description {
            align-items: center;
        }
    }
    .custom-tile {
        .mat-card {
            @extend .primary-background;
            @extend .accent-color;
            width: 123px;
        }
    }
}
