@import './src/theme.scss';

app-home {
    height: 100%;
    .content {
        min-width: 200px !important;
        min-height: 150px;
        padding: 10px;
        @extend .primary-background;
        @extend .accent-border-color;
        border-radius: 10px;
        @extend .accent-color;
        cursor: pointer;

        span {
            font-size: 20px;
        }

        &:hover {
            @extend .accent-background;
            @extend .primary-color;
        }
        mat-icon {
            height: 50px;
            width: 50px;
            font-size: 50px;
        }

        transition: background-color 0.3s;
    }
    .item-container {
        justify-content: center;
    }
}
