@import 'src/theme';

app-home {
    height: 100%;
    .item-container {
        justify-content: center;
    }
    .menu-item {
        max-width: 210px;
        height: 170px;
    }
    .content {
        &__big {
            span {
                font-size: 20px;
            }
            mat-icon {
                height: 50px;
                width: 50px;
                font-size: 50px;
            }
        }
        @extend .primary-background;
        @extend .accent-border-color;
        border-radius: 10px;
        @extend .accent-color;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            @extend .accent-background;
            @extend .primary-color;
        }
    }
}
