<div class="booking-list">
    <div>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title translate="Szűrés"></mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="row">
                <basic-input name="username"
                             [translateParams]="{field: 'LOGIN.USERNAME.LABEL'}"
                             label="LOGIN.USERNAME.LABEL"
                             placeholder="LOGIN.USERNAME.PLACEHOLDER">
                </basic-input>
            </div>
        </mat-expansion-panel>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
        <button mat-raised-button (click)="addToList()">Hozzáadás</button>
        <mat-button-toggle-group [(ngModel)]="currentDisplayStyle" #group="matButtonToggleGroup">
            <mat-button-toggle value="together" aria-label="Text align left">
                <mat-icon>format_align_left</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="separate" aria-label="Text align center">
                <mat-icon>format_align_center</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <br>
    <div fxLayout="row wrap">
        <table [fxFlex]="currentDisplayStyle === 'together' ? 50 : 100"
               mat-table [dataSource]="bookingListSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Dátum</th>
                <td mat-cell *matCellDef="let element">{{element.date | date}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="distance">
                <th mat-header-cell *matHeaderCellDef>Megtett táv (km)</th>
                <td mat-cell *matCellDef="let element">{{(element.distance | number: '1.0-0') + ' Km'}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="route">
                <th mat-header-cell *matHeaderCellDef>Útvonal</th>
                <td mat-cell *matCellDef="let element">{{element.route}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="amountSpent">
                <th mat-header-cell *matHeaderCellDef>Elköltött összeg</th>
                <td mat-cell *matCellDef="let element"> {{(element.amountSpent | currency: ' ':'symbol':'1.0-0') + ' HUF'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="amountPaid">
                <th mat-header-cell *matHeaderCellDef>Térített összeg</th>
                <td mat-cell *matCellDef="let element"> {{(element.amountPaid | currency: ' ':'symbol':'1.0-0') + ' HUF'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="fullSpent">
                <th mat-header-cell *matHeaderCellDef>Különbözet</th>
                <td mat-cell *matCellDef="let element"> {{(element.fullSpent | currency: ' ':'symbol':'1.0-0') + ' HUF'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary"
                            [matMenuTriggerFor]="menu">
                        <mat-icon>list</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-icon-button
                                matTooltip="Megnyitás"
                                color="primary"
                                (click)="openItem(element, 'detail')">
                            <mat-icon>search</mat-icon>
                        </button>
                        <button mat-icon-button
                                matTooltip="Szerkesztés"
                                (click)="openItem(element, 'edit')" color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button
                                matTooltip="Másolat készítése"
                                (click)="openItem(element, 'copy')" color="primary">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                        <button mat-icon-button color="warn"
                                matTooltip="Elem törlése"
                                (click)="bookingService.removeItem(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <br *ngIf="currentDisplayStyle === 'separate'">
        <app-line-chart [style.margin-top]="currentDisplayStyle === 'separate' ? '15px' : ''"
                        [fxFlex]="currentDisplayStyle === 'together' ? 50 : 100"
                        [dataSetList]="[
            {label: 'Elköltött', numbers: (amountSpent | async)},
            {label: 'Térített', numbers: (amountPaid | async)},
            {label: 'Különbözet', numbers: (fullSpent | async)}
        ]"></app-line-chart>
    </div>
</div>
