<div class="booking-list">
    <div fxLayout="row" fxLayoutGap="15px">
        <mat-card fxFlex="80">
            <mat-card-content>
                <div fxLayout="row">
                    <basic-input name="username"
                                 [translateParams]="{field: 'LOGIN.USERNAME.LABEL'}"
                                 label="LOGIN.USERNAME.LABEL"
                                 placeholder="LOGIN.USERNAME.PLACEHOLDER">
                    </basic-input>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <br>
    <div fxLayout="row">
        <mat-tab-group #tabGroup fxFlex="100" style="background: white">
            <mat-tab label="Útinapló">
                <app-travel-diary></app-travel-diary>
            </mat-tab>
            <mat-tab label="Utazási költségek">
                <app-fuel-cost-diary></app-fuel-cost-diary>
            </mat-tab>
            <mat-tab disabled>
                <ng-template mat-tab-label>
                    <button mat-icon-button (click)="addToList()">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!--
    <br>
    <div fxLayout="row wrap">
        <app-line-chart [fxFlex]="'100'"
                        [dataSetList]="[
            {label: 'Elköltött', numbers: (amountSpent | async)},
            {label: 'Térített', numbers: (amountPaid | async)},
            {label: 'Különbözet', numbers: (fullSpent | async)}
    ]"></app-line-chart>
    </div>
    -->
</div>
