app-line-chart {
    display: block;
    background: white;
    padding: 10px;
    canvas {
        max-height: 400px;
    }
    .flex {
        display: flex;
    }

    .flex-item {
        flex-basis: 50%;
    }

    tr.line-2 {
        color: red;
    }
}
